<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= locals.title %>
  </title>
  <!-- Libraries -->
  <link href="/flowbite/dist/flowbite.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/tailwind.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js"></script>
</head>

<body class="bg-gray-100">
  <%- include('../partials/navbar.ejs') %>
    <main>
      <%- body %>
    </main>
    <%- include('../partials/footer.ejs') %>

      <script src="/flowbite/dist/flowbite.js"></script>
      <script src="/flowbite/dist/datepicker/datepicker.bundle.js"></script>
      <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

      <%- script %>
</body>

</html>